<div class="container-fluid">
    <br>
    <h2 class="mt-4">Mensagens</h2>
    <br>
    <hr>

    <div class="row" style="margin-left: 6px;">
        <div class="col-md-3 msg" style="margin-left: 0px; padding: 0px;">
            <div class="msgm">
                <a class="msgT" href="#">
                    <P style="margin-left: 5px;">oioi</P>
                </a>
            </div>

            <div class="msgm">
                <a class="msgT" href="#">
                    <P style="margin-left: 5px;">oioi</P>
                </a>
            </div>

            <div class="msgm">
                <a class="msgT" href="#">
                    <P style="margin-left: 5px;">oioi</P>
                </a>
            </div>

            <div class="msgm">
                <a class="msgT" href="#">
                    <P style="margin-left: 5px;">oioi</P>
                </a>
            </div>
        </div>
        <div class="col-md-9 caixaTxt" style="margin-left: 0px; padding: 0px;">
            <div class="resposta">
                <p>oi oi oi oi oi oi oi oi oi oi ooooo oi oi oi oi
                    oioioi oi oi oi oi oi oi oi oi oi oi oi ooooo
                    oi oi oi oi oioi oi oi ooooo oi oi oi oi oi oi</p>
            </div>

            <div class="pergunta">
                <p>oi oi oi oi oi oi oi oi oi oi oi oi oi oi
                    oioioi oi oi oi oi oi oi oi oi oi oi oi
                    oi oi oi oi oioi oi oi oi oi oi oi oi oi
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-9 card-footer" style="margin-left: 26%; width: 920px;">
        <div class="input-group">
            <textarea name="" class="form-control type_msg" placeholder="Escreva aqui sua menssagem..."></textarea>
            <div class="input-group-append">
                <button class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
            </div>
        </div>
    </div>

</div>