<header id="header" class="fixed-top" style="background-color: #71B2AD;">
  <div class="container-fluid d-flex">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="/">
          <span>Plaicos</span>
        </a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="/home"><img src="/public/assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li :class="{ active: session.currentPage === 'Home'}">
          <a href="#header">Home</a>
        </li>
        <li :class="{ active: session.currentPage === 'Marketplace'}">
          <a href="#about">Marketplace</a>
        </li>
        <li>
          <a href="#team">Equipe</a>
        </li>
        <li>
          <a href="#portfolio">Blog</a>
        </li>
        <li>
          <a href="#contact">Contato</a>
        </li>
        <li v-if="session.isLogged === true" class="drop-down">
          <a href="">Conta</a>
          <ul>
            <li>
              <a href="#">Perfil</a>
            </li>
            <li class="drop-down">
              <a href="#">Dashboard</a>
              <ul>
                <li>
                  <a href="#">Deep Drop Down 1</a>
                </li>
                <li>
                  <a href="#">Deep Drop Down 2</a>
                </li>
                <li>
                  <a href="#">Deep Drop Down 3</a>
                </li>
                <li>
                  <a href="#">Deep Drop Down 4</a>
                </li>
                <li>
                  <a href="#">Deep Drop Down 5</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Sair</a>
            </li>
          </ul>
        </li>
        <li v-if="!session.isLogged" class="get-started">
          <a href="/sign-in">Login</a>
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>