<header id="header" class="fixed-top" style="background-color: #71B2AD;">
    <div class="container-fluid d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="index.html"><span>Plaicos</span></a></h1>

        </div>

        <nav class="nav-menu d-none d-lg-block  navbar-expand">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="index.html#team">Equipe</a></li>
                <li><a href="index.html#portfolio">Blog</a></li>
                <li><a href="index.html#contact">Contato</a></li>
                <li><a href="BalcaodeNegocios.html">Balcão de Negócios</a></li>

                <!-- Navbar Search-->
                <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Pesquise..." aria-label="Search"
                            aria-describedby="basic-addon2" style="border-radius: 20px;" />
                        <div class="input-group-append">
                            <button class="btn"
                                style="background-color: #C05F7B; color: aliceblue; margin-right: 15px; border-radius: 20px; width: 40px;"
                                type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <!-- Navbar-->

            </ul>

        </nav><!-- .nav-menu -->

    </div>
</header>